.rating-stars {
    color: #ffd700;
  }
  
  .rating-stars i {
    margin-right: 5px;
  }
  
  .reviews {
    margin-top: 20px;
  }
  
  .review {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .review h3 {
    font-size: 18px;
    margin-top: 0;
  }
  
  .review p {
    font-size: 14px;
    color: #666;
  }
  .select::after {
    color: #fff;
    background: #000;
    border-radius: 50%;
    padding: 4px;
  }
  
  .review-header {
    display: flex;
    align-items: center;
  }
  
  .review-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .review-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .book {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.books{
    margin-top: 20px;
}

.book-cover {
    width: 150px;
    height: 200px;
    margin-right: 10px;
}

.book-info {
    flex: 1;
}

.book-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.book-author {
    font-size: 16px;
    margin-bottom: 10px;
}

.book-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.book-rating {
    display: flex;
    align-items: center;
}

.book-rating p {
    margin-right: 5px;
}

.rating-stars {
    display: flex;
}

.rating-stars i {
    color: #ffc107;
    margin-right: 2px;
}