<div class="container p-5">
    <div class="row">
      <div class="col-md-2">
        <img
          src={{Author.Photo}}
          alt="Author Pic"
          class="img-fluid"
        />
      </div>
      <div class="col-md-10">
        <h3>{{Author.FirstName}} {{Author.LastName}}</h3>
        <p>{{Author.DateOfBirth}}</p>
  
       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Author Description</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
          nulla auctor, vestibulum magna sed, convallis ex.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Books</h2>
  
        <div class="book">


            <div class="book">
                <div class="book-cover">
                    <img src="https://via.placeholder.com/200" alt="Book Cover" class="img-fluid">
                </div>
                <div class="book-info">
                    <h2 class="book-title">Book Title</h2>
                    <p class="book-author">Author Name</p>
                    <p class="book-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.
                    </p>
                    <div class="book-rating">
                        <p>Rating: <span>5</span>/5</p>
                        <div class="rating-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        
          
          
        </div>
      </div>
    </div>
  </div>
  