<div class="container">
    <div class="navbar">
      <a href="#">Categories</a>
      <a href="#">Books</a>
      <a href="#">Authors</a>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th><div class="d-flex justify-content-between">
                <div>Actions</div>
                <div class="ml-auto add-icon">
                    <button class="btn btn-primary" (click)="toggleAddCategoryForm()">
                      <i class="fa fa-plus-circle"></i> Add Category
                    </button>
                  </div>
            </div>
                </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories; let i = index">
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
              <button class="btn btn-warning edit-btn" (click)="editCategory(category, i)">
                <i class="fa fa-pen"></i>
              </button>
              <button class="btn btn-danger delete-btn" (click)="deleteCategory(i)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="add-icon">
        <button class="btn btn-primary" (click)="toggleAddCategoryForm()">
          <i class="fa fa-plus-circle"></i> Add Category
        </button>
      </div> -->
    </div>
  </div>
  
  <!-- Add/Edit Category Modal -->
  <div
    class="modal"
    tabindex="-1"
    [ngClass]="{ show: showAddCategoryForm }"
    style="display: block"
    *ngIf="showAddCategoryForm"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ newCategory.id ? 'Edit' : 'Add' }} Category</h5>
          <button type="button" class="close" (click)="toggleAddCategoryForm()">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="categoryName">Category Name</label>
              <input
                type="text"
                class="form-control"
                id="categoryName"
                name="categoryName"
                [(ngModel)]="newCategory.name"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="toggleAddCategoryForm()"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="addCategory()">
            {{ newCategory.id ? 'Save Changes' : 'Add Category' }}
          </button>
        </div>
      </div>
    </div>
  </div>
  