:root {
  --color-primary: #CCD5AE;
  --color-secondary: #E0E5B6;
  --color-accent: #FAEDCE;
  --color-background: #FEFAE0;
  --color-text-dark: #4b4b4b;
  --color-text-light: #ffffff;
}

.container {
  background-color: var(--color-background);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.book {
  background-color: var(--color-secondary);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-image {
  width: 100%;
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image covers the area */
  border-radius: 5px;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.book-title {
  font-size: 1.25rem;
  color: var(--color-primary);
  margin-bottom: 10px;
  flex-grow: 1;
  transition: all 0.3s ease;
  
}
.book-title a:hover {
  color: blue !important;
  font-size: 1.75rem;

}

.book-title a,
.book p a {
  color: var(--color-text-dark);
  text-decoration: none;
  transition: color 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.book:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.book-title a:hover,
.book p a:hover {
  color: var(--color-accent);
}
.author{
  transition: all 0.3s ease;
}
.author:hover{
  color: blue !important;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.page-item.active .page-link {
  background-color: var(--color-accent);
  color: var(--color-text-dark);
}

.page-link:hover {
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
}

.page-link[disabled] {
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
  cursor: not-allowed;
  opacity: 0.7;
}

/* Responsive Design */
@media (max-width: 768px) {
  .book {
    margin-bottom: 15px;
  }

  .book-title {
    font-size: 1rem;
  }

  .page-link {
    padding: 6px 10px;
  }
}