<div class="container">
  <h1 class="p-1">Book List</h1>

  <div class="row">
    <div
      class="col-md-3"
      *ngFor="let book of paginatedBooks; let index = index"
    >
      <div class="book">
        <img src="{{ book.CoverPhoto }}" alt="Book {{ index }}" class="book-image" />
        <h2 class="book-title">
          <a>{{ book.name }} </a>
        </h2>
        <p>
          <a>{{ book.Author.FirstName }}</a>
        </p>
        <p>
          <a>{{ book.Rating }}</a>
        </p>
        <p>Year: {{ book.Year }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="pagination" style="display: inline-flex">
        <li class="mr-1 page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" href="#" (click)="previousPage()">
            Previous
          </button>
        </li>
        <li
          *ngFor="let page of pages"
          class="page-item"
          [class.active]="page === currentPage"
        >
          <button class="m-1 page-link" href="#" (click)="goToPage(page)">
            {{ page }}
          </button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" href="#" (click)="nextPage()">Next</button>
        </li>
      </ul>
    </div>
  </div>
</div>
