<!-- Forgot Password Modal -->
<div
  class="modal fade"
  id="forgotPasswordModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="forgotPasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalLabel">
          Reset Password
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #forgotPasswordForm
          id="forgotPasswordForm"
          (ngSubmit)="onSubmit($event)"
        >
          <div class="form-group">
            <label for="email">Enter your email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter your email"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              data-toggle="modal"
              data-target="#forgotPasswordModal"
              (click)="onSubmit($event)"
              type="submit"
              class="btn btn-primary"
            >
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
