
:root {
  --color-primary: #CCD5AE;
  --color-secondary: #E0E5B6;
  --color-accent: #FAEDCE;
  --color-background: #FEFAE0;
  --color-text-dark: #4b4b4b;
  --color-text-light: #ffffff;
}


.fullPage {
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  background-color: var(--color-background);
  padding: 20px;
  border-radius: 10px;
}


h2 {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}


.category-card {
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.category-card i {
  font-size: 3rem;
  margin-bottom: 15px;
}


.category-card h4 {
  font-size: 1.5rem;
  margin: 0;
}


.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}


@media (max-width: 992px) { /* Large tablets/small desktops */
  .col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) { /* Tablets */
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) { /* Mobile phones */
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container {
    padding: 10px;
  }
}