body {
  background-color: #fefae0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  background: rgb(204, 213, 174);
  background: linear-gradient(
    270deg,
    rgba(204, 213, 174, 1) 0%,
    rgba(224, 229, 182, 1) 63%,
    rgba(254, 250, 224, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
h3:after {
  content: " ";
  display: block;
  border: 2px solid #5a5a5a;
  width: 50px;
  margin: auto;
  margin-top: 5px;
  border-radius: 20px;
}

.card {
  background-color: #fefae0 !important;
  border: 1px solid #e0e5b6;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.card-title {
  color: #5a5a5a;
  text-align: center;
}

.btn-primary {
  background-color: #ccd5ae;
  border-color: #ccd5ae;
  width: 100%;
}

.btn-primary:hover {
  background-color: #e0e5b6;
  border-color: #e0e5b6;
}

.form-control {
  border: 1px solid #5a5a5a;
  border-radius: 5px;
  background: none;
}

.form-control:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  /* border-color: #e0e5b6; */
}

.form-group {
  margin-bottom: 1.5rem;
}

.modal-content {
  background-color: #fefae0;
  border-radius: 10px;
}

.modal-header {
  border-bottom: 1px solid #e0e5b6;
}

.modal-footer {
  border-top: 1px solid #e0e5b6;
}

.btn-primary {
  background-color: #ccd5ae;
  border-color: #ccd5ae;
}

.btn-primary:hover {
  background-color: #e0e5b6;
  border-color: #e0e5b6;
}

forget-password-btn:focus {
  color: #5a5a5a;
  text-decoration: none;
  background-color: #ccd5ae;

}

button.btn.btn-primary.forget-password-btn:active {
  background-color: #ccd5ae;
  color: #5a5a5a;
}
