<div class="login-container" style="height: 100vh">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Login</h3>
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" id="username" placeholder="Enter Your Username" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-4">
          Login
        </button>
        <br />
      </form>
      <div class="text-center mt-3">
        <a href="#" class="d-block">Forgot <strong>Password?</strong></a>
        <br />
        <span>Don't have an account? <a href="#"><strong>Sign up</strong></a></span>
      </div>
    </div>
  </div>
</div>