<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <!-- Footer Logo (50% width) -->
            <div class="col-md-6 footer-logo">
                <img src="../../../assets/logo.png" alt="Logo" class="logo">
            </div>

            <!-- Footer Menu Links (50% width) -->
            <div class="col-md-6 footer-menu text-end">
                <a routerLink="/home" class="footer-link">Home</a>
                <a routerLink="/categories" class="footer-link">Categories</a>
                <a routerLink="/authors" class="footer-link">Authors</a>
                <a routerLink="/books" class="footer-link">Books</a>
            </div>
        </div>

        <!-- Copyright Row -->
        <div class="row copyright-row">
            <div class="col-md-12 text-center">
                <small>© 2024 - ITI Capital Branch - All Rights Reserved. </small>
            </div>
        </div>
    </div>
</footer>